.landing-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.landing-block form{
  margin-top: 10%;
  margin-bottom: 5%;
}

.landing-block img {
  width: 100%;   
  height: auto;   
  display: block;
  margin: 0 auto; 
}

.landing-links {
  width: 100%;
  text-align: center;
}

button {
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  box-shadow: lightgray 3px 3px 7px;
  margin-right: 20px;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
    &:active {
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
  }
}

button:hover {
    transform: translate(-1px, -1px);
    box-shadow: lightgray 4px 4px 10px;
    background-color: #f7f7f7;
}

button:active {
    transform: translate(1px, 1px);
    box-shadow: lightgray 1px 1px 5px;
    background-color: #eaeaea;
}